body {
  text-align: center;
  background: #ddd;
}

header{
    background-color: 25b2d5;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#facebook{
  background-color: #0000FF;
  color:white;
}

#twitter{
  background-color: 25b2d5;
  color:white;
}


input{
  margin:10px;
  text-align:centre;
  color:blue;
}

input[type=submit]{
 background-color:25b2d5;
 color:white;
 align-items: center;
 justify-content: center;
 width:60px;
 height:40px;
}

.register{
  background-color:25b2d5;
  color:white;
  width:60px;
  height:40px;
}

p{
  display: inline-block;
  margin-top: 50px;
}

/* media queries for mobile devices and teblet*/

@media only screen and (max-device-width: 480px){

      header{
        width:400px;
      }

      input[type="submit"]{
        width:auto;
        height:auto;
      }

      .register{
        width:auto;
        height:auto;
      }

      p{
        margin-top: auto;
      }

}
